/*////////// GENERAL //////////////////*/
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: black;
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  margin: 0 0 1em;
}

h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 1em;
}

p {
  color: whitesmoke;
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: #b291e7;
}
a:visited {
  color: grey;
  text-decoration: none;
}

/*/ ///////////////////////    PAGINA INDEX   /////////////////////////////*/
.bloqueIndex {
  background-color: rgb(0, 0, 0);
  background-image: url("../images/PurpleCircle.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.contentIndex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  border-radius: 50%;
  overflow: hidden;
}

.contentIndex:hover {
  background-repeat: no-repeat;
}

.bloqueIndex h1 {
  width: 10em;
  max-width: 100%;
  margin: 0 auto 0.8em;
  padding: 0;
  color: white;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.bloqueIndex h1 span {
  white-space: nowrap;
}

.botonIndex {
  pointer-events: all;
  background-color: black;
  font-size: 2em;
  font-weight: 700;

  margin: 0;
  padding: 0;
  line-height: 1;

  letter-spacing: 0.1em;

  border: 0.1em outset rgb(194, 194, 194);
  border-radius: 40px 10px 40px 10px;
  padding: 0.6em 1.2em;

  transition: all 1s ease-out;
}

.botonIndex:hover,
.botonIndex:active,
.botonIndex:focus {
  border-style: inset;
  background-color: rgb(245, 245, 245);

  background-image: url("../images/indexhover3.gif");
  background-position: center;
  background-size: 120%;
  overflow: hidden;

  transform: skew(-20deg);
}
.botonIndex:hover a:visited {
  color: #fff;
}

/*//////// fin pagina Index ////////*/

/*/ ////////////////////////////////////////////// HEADER ///////////////////////////////////////////////*/
@media only screen and (max-width: 991px) {
  header {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 5em;
    text-align: center;
    position: sticky;
    top: -0.1em;
    left: 0em;

    z-index: 3;
  }

  header .containerToplogos {
    height: 5em;
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
  }

  .topLogo {
    position: relative;
    top: 0;
    height: 3em;
    padding: 0;
    margin: auto;
  }

  .topLogoBoton {
    position: relative;
    top: 20%;
    height: 3em;
    padding: 0;
    border-radius: 5em 5em 5em 5em;
  }

  .menu {
    width: 35%;
    max-width: 13em;
    min-width: 9em;
    overflow: hidden;
    margin: 0;
    border: 0.05em double rgb(105, 105, 105);
    padding: 1em 0.2em 1em 1em;

    list-style-type: none;
    text-align: left;

    border-radius: 1em 1em 1em 1em;

    background-image: url(../images/fondomenu22.png);

    position: relative;
    top: 1em;
    left: 1em;
  }
  .menu .botonMenuContainer a {
    display: block;
    font-size: 1.3em;
    opacity: 1;
    color: rgb(255, 255, 255);
  }

  .menu .botonMenuContainer a:hover {
    text-decoration: line-through;
  }

  .hamburguer:active nav ul {
    display: block;
  }

  .menu ul {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    position: sticky;
    top: -150px;

    z-index: 2;
  }

  .topLogo {
    width: 200px;
    padding: 45px 20px;
  }

  .topLogoBoton {
    display: none;
  }

  .menu {
    width: 60%;
    margin: 0;
    border: 0;
    list-style-type: none;

    margin: auto;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  .botonMenuContainer {
    position: relative;
    margin: auto;

    height: 1.5em;
    border: 0;
    padding: 0;
  }

  .botonMenu {
    height: 100%;
    width: 100%;
    color: #b291e7;
    padding: 2rem 1.5rem;
    user-select: none;
  }

  .botonMenu:hover {
    color: whitesmoke;
    background-image: url("../images/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: animacionBotoMenu 1.5s;
  }

  @keyframes animacionBotoMenu {
    0% {
      color: rgb(255, 255, 255);
    }
    20% {
      color: #b291e7;
    }
    40% {
      color: #472a77;
    }

    60% {
      color: rgb(129, 199, 201);
    }

    80% {
      color: #6200ff;
    }
    100% {
      color: #f3c2fa;
    }
  }

  /* Nav desplegable */
  .menu ul {
    margin: 10px 0 0;
    padding: 30px 10px 30px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: -40px;
    right: -40px;
    display: none;
    text-align: center;
    z-index: -1;

    border-radius: 50px 10px 50px 10px;
  }

  .menu ul li {
    display: block;
    color: thistle;
  }

  .menu li:hover ul {
    display: block;
  }

  .panelColeccion:hover {
    color: #f3ebff;
    text-decoration: line-through;
  }
}

/*//////// fin del Header ////////*/

/* FOOTER */

footer {
  background-color: black;
  border: 0px;
  padding: 6em 3em;
}

footer .logo {
  flex: 1;
}

footer .logo img {
  display: block;
  margin: 0 auto 5em;
  width: 200px;
  max-width: 100%;
}

.redesSociales {
  text-align: center;

  white-space: nowrap;
}

.redesSociales a {
  display: inline-block;

  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.redesSociales img {
  width: 50px;
  height: 50px;
}

footer audio {
  display: block;
  margin: 2em auto;
  width: 350px;
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
  }
  footer .logo img {
    margin-left: 0;
    margin: 0;
  }
  footer .logo {
    display: flex;
    align-items: center;
  }

  footer .footerContent {
    display: flex;
    align-items: center;
  }
  .redesSociales {
    padding: 0 2em;
  }
}

/*//////// MAIN CONTENT ////////*/

/*/ /////// HOME ////////*/

@media (min-width: 1200px) {
  #carouselHome .carousel-item img {
    height: 75vh;
    object-fit: cover;
    object-position: center center;
  }
}

.fondoMarble {
  color: black;
  background-image: url(../images/fondoMarbleOpt.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;

  font-family: "Amiko", sans-serif;
  font-family: "Epilogue", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.fondoMarble p {
  color: rgb(209, 209, 209);
  padding: 10px;
}

.tituloBrillante {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 0px 0px 13px rgb(140, 0, 255);
  font-weight: 700;
}

.galeriaProducto {
  text-align: center;
}
.galeriaProducto h2 {
  color: rgb(170, 170, 170);
  font-family: "Racing Sans One";
  font-size: 4em;
  text-shadow: 0.1em 0.1em rgb(43, 43, 43);

  margin: 0 0 0.3em 0;
}

#fotoBanner {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

/* ///////////////////////////// ¡ GALERIA DE PRODUCTOS 1 ! ///////////////////////////////*/

.productosContainer {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-top: auto;

  padding: 1.5em 1em;
  font-size: 1em;
}

.cajaItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../images/marble-stone.jpg);

  border: 0.3em inset rgb(150, 134, 63);
  border-radius: 1em 1em 1em 1em;

  overflow: hidden;
}

.cajaItem img {
  width: 100%;
  /* width: 95%; */
}

.cajaItem a {
  padding: 1em 0px;
  margin: auto;
  white-space: nowrap;
}

.cajaItem p {
  padding: 0px 0px 1em 0px;
  margin: auto;
  color: black;
}

@media only screen and (max-width: 767px) {
  .cajaItem {
    margin: 0 0 2em 0;
  }
}
@media screen and (min-width: 768px) {
  .productosContainer {
    padding: 2em 1em;
  }

  .productosContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    row-gap: 2.5em;
    column-gap: 2em;
  }

  .textoHome {
    padding: 3em 4em;
  }
}

@media screen and (min-width: 1200px) {
  .productosContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 2.5em;
    column-gap: 2em;
  }

  .productosContainer {
    padding: 3em 4em;
  }

  .cajaItem {
    transition: all 1.5s ease;
  }

  .cajaItem a {
    font-size: 1.2em;
    padding: 0.3em 0;
  }

  .productosContainer .cajaItem:active {
    transform: scale(1.8);
    z-index: 2;
  }

  .cajaItem:hover {
    border: 0.3em outset rgb(131, 116, 50);
    transform: rotate(1turn) scale(1.1);
    box-shadow: 0.1em 0.2em 0.2em 0.2em black;
  }

  .cajaItem a:hover {
    color: rgb(104, 0, 165);
    animation: precio 3s;
  }

  @keyframes precio {
    0% {
      color: rgb(255, 0, 0);
    }

    15% {
      color: rgb(255, 123, 0);
    }

    30% {
      color: rgb(229, 255, 0);
    }

    45% {
      color: rgb(28, 170, 0);
    }

    60% {
      color: rgb(8, 0, 255);
    }

    75% {
      color: rgb(129, 103, 172);
    }

    90% {
      color: rgb(104, 0, 165);
    }
  }
}
/* ///////////////////////////// ¡ GALERIA DE PRODUCTOS 2 ! ///////////////////////////////*/

.productosContainer2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-top: auto;

  padding: 1.2em 1em;
  font-size: 1em;
}

.productosContainerGrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  column-gap: 2em;
}

.cajaItem2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  background-image: url(../images/fondoEsmerilado1.png);

  border: 0.3em double rgb(51, 51, 51);
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0.1em 0.3em 0.2em 0.2em black;
  overflow: hidden;
}

.cajaItem2 img {
  width: 95%;
  border-radius: 1em 1em 1em 1em;
  opacity: 0.7;
}

.cajaItem2 a {
  padding: 1em 0px;
  margin: auto;
  white-space: nowrap;
  color: rgb(148, 148, 148);

  font-size: 1.3em;
}

.cajaItem2 p {
  padding: 0px 0px 1em 0px;
  margin: auto;
  font-size: 1.2em;
  color: rgb(202, 202, 202);
}

.cajaItem2:hover {
  border: 0.3em double rgb(100, 100, 100);
  opacity: 1;
}

.cajaItem2:hover img {
  opacity: 1;
}

.cajaItem2:hover a {
  color: #ffffff;
}

/*/ /////////////////////////////  COLECCIONES ////////////////////////////////////*/

.scrollColecciones {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cajaColeccion {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cajaColeccion {
  border-bottom: 4px double black;
  background-color: rgb(17, 17, 17);
  text-align: center;
}

.cajaColeccion a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: rgb(124, 124, 124);
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.cajaColeccion a:hover {
  color: rgb(235, 235, 235);
  text-shadow: 4px 4px 15px black;
}

.coleccion1 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2013.jpg);
  background-position: center;
  background-size: cover;
}

.coleccion2 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2014.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.coleccion3 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2015.jpg);
  background-position: center;
  background-size: cover;
}

.coleccion4 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2017.jpg);
  background-position: center;
  background-size: cover;
}

.coleccion5 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2019.jpg);
  background-position: center;
  background-size: cover;
}

.coleccion6 {
  background-image: url(../images/colecciones/scrollColecciones/coleccion2020.png);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 576px) {
  .scrollColecciones {
    display: flex;
    flex-wrap: wrap;
  }
  .cajaColeccion {
    width: 50%;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .cajaColeccion {
    width: 33.333%;
    height: 400px;
    border-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cajaColeccion {
    width: 16.666%;
    height: 600px;
  }
}

.scrollFotosColecciones {
  margin: 0 -4em;
}

.scrollFotosColeccionesHijo img {
  width: 100%;
}

#proximamente {
  display: block;
  width: 100%;
}

/*/ /////////////////////////////  COLECCION  INDIVIDUAL ////////////////////////////////////*/
/* TITULO COLECCION */

.tituloColeccion {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 0 1em 0;
}

@media only screen and (min-width: 576px) {
  .tituloColeccion {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0 0 1em 0;
  }

  .scrollFotosColecciones {
    margin: 0 -3em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    row-gap: 0.5em;
    column-gap: 0.5em;
  }

  .scrollFotosColeccionesHijo img {
    display: block;
    width: 100%;
    height: 35em;
    object-fit: cover;
  }

  .scrollFotosColeccionesHijo:nth-child(5) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(7) {
    grid-column-start: span 2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .tituloColeccion {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    padding: 0 0 0.9em 0;
  }

  .scrollFotosColecciones {
    margin: 0 -3em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    row-gap: 1em;
    column-gap: 1em;
  }

  .scrollFotosColeccionesHijo img {
    display: block;
    width: 100%;
    height: 35em;
    object-fit: cover;
  }

  .scrollFotosColeccionesHijo:nth-child(5) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(7) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(11) {
    grid-column-start: span 3;
  }
  .scrollFotosColeccionesHijo:nth-child(13) {
    grid-column-start: span 2;
  }
  .scrollFotosColeccionesHijo:nth-child(14) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(16) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(18) {
    grid-column-start: span 3;
  }
}

@media only screen and (min-width: 1200px) {
  .tituloColeccion {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    padding: 0 0 0.9em 0;
  }

  .scrollFotosColecciones {
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    row-gap: 1em;
    column-gap: 1em;
  }

  .scrollFotosColeccionesHijo img {
    display: block;
    width: 100%;
    height: 35em;
    object-fit: cover;
  }
  .scrollFotosColeccionesHijo:nth-child(1) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(6) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(8) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(11) {
    grid-column-start: span 1;
  }

  .scrollFotosColeccionesHijo:nth-child(12) {
    grid-column-start: span 3;
  }

  .scrollFotosColeccionesHijo:nth-child(15) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(17) {
    grid-column-start: span 2;
  }

  .scrollFotosColeccionesHijo:nth-child(19) {
    grid-column-start: span 2;
  }
}

/* COLECCION 2014       WAR AND MAGIC   */

.scrollFotosColecciones2014 {
  margin: 0 -4em;
}
.scrollFotosColeccionesHijo2014 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1200px) {
  .scrollFotosColecciones2014 {
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    row-gap: 1em;
    column-gap: 1em;
  }

  .scrollFotosColeccionesHijo2014:nth-child(1) {
    grid-row-start: span 2;
  }

  .scrollFotosColeccionesHijo2014:nth-child(10) {
    grid-row-start: span 2;
  }
  .scrollFotosColeccionesHijo2014:nth-child(14) {
    grid-row-start: span 3;
  }
  .scrollFotosColeccionesHijo2014:nth-child(15) {
    grid-row-start: span 2;
  }
}

/*/ ///////  PAGINA EXPERIENCIAS  ////////*/

.videoplay {
  border: 0.1em solid grey;

  border-radius: 1.5em 4em 1.5em 4em;
}

@media only screen and (min-width: 768px) {
  .videoplay {
    width: 720px;
    height: 480px;
  }
}

.Play {
  text-align: center;
}

.h2Blanco {
  color: aliceblue;
  font-size: 1.8em;
}

/*/ //////////////////////////////  PAGINA HISTORIA  ////////////////////////////////////////*/

@media only screen and (max-width: 767px) {
  .history h1:nth-of-type(1) {
    font-size: 1.5em;
    text-align: right;
    margin-top: 1em;
  }

  .history h1:nth-of-type(2) {
    font-size: 1.5em;
    text-align: left;
  }

  .galeriaHistoria {
    margin: 3em -3em 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    row-gap: 2em;
    column-gap: 2em;
  }

  .galeriaHistoriaItem img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .galeriaHistoriaItem {
    transition: all 1s;
  }

  .galeriaHistoriaItem:hover {
    transform: scale(1.5);
    z-index: 2;
  }

  .videoMica {
    width: 90%;
    height: auto;

    margin: 6em auto 3em;
    padding: 0;
    border: 0.4em double rgb(63, 63, 63);
    border-radius: 1.5em 4em 1.5em 4em;

    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .history h1:nth-of-type(1) {
    font-size: 1.5em;
    text-align: right;
    margin-top: 1em;
  }

  .history h1:nth-of-type(2) {
    font-size: 1.5em;
    text-align: left;
  }

  .galeriaHistoria {
    margin: 3em -3em 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    row-gap: 2em;
    column-gap: 2em;
  }

  .galeriaHistoriaItem img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .galeriaHistoriaItem {
    transition: all 1s;
  }

  .galeriaHistoriaItem:hover {
    transform: scale(1.5);
    z-index: 2;
  }

  .videoMica {
    width: 720px;
    height: 480px;
    margin: 6em auto 3em;
    padding: 0;
    border: 0.4em double rgb(63, 63, 63);
    border-radius: 1.5em 4em 1.5em 4em;

    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .history h1:nth-of-type(1) {
    text-align: right;
    margin: 0 4em 0.8em 0;
  }

  .history h1:nth-of-type(2) {
    text-align: left;
    margin: 1em 0 1em 2em;
  }

  .galeriaHistoria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

    row-gap: 2em;
    column-gap: 2em;
  }

  .galeriaHistoriaItem img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .galeriaHistoriaItem {
    transition: all 1s;
  }

  .galeriaHistoriaItem:hover {
    transform: scale(1.5);
    z-index: 2;
  }
  .videoMica {
    width: 720px;
    height: 480px;
    margin: 6em auto 3em;
    padding: 0;
    border: 0.4em double rgb(63, 63, 63);
    border-radius: 1.5em 4em 1.5em 4em;

    display: block;
  }
}
