/*/ ///////////////////////    PAGINA INDEX   /////////////////////////////*/
.bloqueIndex {
  background-image: url("https://i.ibb.co/XW5hB38/Purple-Circle.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.bloqueIndex .contentIndex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.bloqueIndex .contentIndex:hover {
  background-repeat: no-repeat;
}
.bloqueIndex h1 {
  width: 10em;
  max-width: 100%;
  margin: 0 auto 0.8em;
  padding: 0;
  color: white;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.bloqueIndex .botonIndex {
  pointer-events: all;
  background-color: black;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.1em;
  border: 0.1em outset #c2c2c2;
  border-radius: 40px 10px 40px 10px;
  padding: 0.6em 1.2em;
  transition: all 1s ease-out;
}
.bloqueIndex .botonIndex:hover, .bloqueIndex .botonIndex:active, .bloqueIndex .botonIndex:focus {
  border-style: inset;
  background-color: whitesmoke;
  background-image: url("../images/indexhover3.gif");
  background-position: center;
  background-size: 120%;
  overflow: hidden;
  transform: skew(-20deg);
}
.bloqueIndex .botonIndex a:visited {
  color: #fff;
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
  25% {
    text-shadow: -4px -4px 0 #6d47ce, -3px -3px 0 #6d47ce, -2px -2px 0 #6d47ce, -1px -1px 0 #6d47ce, 4px 4px 0 #8100eb, 3px 3px 0 #8100eb, 2px 2px 0 #8100eb, 1px 1px 0 #8100eb;
  }
  50% {
    text-shadow: -4px 4px 0 #8100eb, -3px 3px 0 #8100eb, -2px 2px 0 #8100eb, -1px 1px 0 #8100eb, 4px -4px 0 #6d47ce, 3px -3px 0 #6d47ce, 2px -2px 0 #6d47ce, 1px -1px 0 #6d47ce;
  }
  75% {
    text-shadow: 4px 4px 0 #6d47ce, 3px 3px 0 #6d47ce, 2px 2px 0 hs #6d47ce, 1px 1px 0 #6d47ce, -4px -4px 0 #8100eb, -3px -3px 0 #8100eb, -2px -2px 0 #8100eb, -1px -1px 0 #8100eb;
  }
  100% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
}
header {
  position: sticky;
  z-index: 3;
  background-color: black;
}
@media (max-width: 991px) {
  header {
    background-color: black;
    color: white;
    width: 100%;
    height: 5em;
    text-align: center;
    position: sticky;
    top: -0.1em;
    left: 0em;
  }
  header .containerToplogos {
    height: 5em;
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
  }
  header .topLogo {
    position: relative;
    top: 0;
    height: 3em;
    padding: 0;
    margin: auto;
  }
  header .topLogoBoton {
    position: relative;
    top: 20%;
    height: 3em;
    padding: 0;
  }
  header .toggle {
    height: 3em;
    width: 3em;
    position: relative;
    top: 20%;
    background-color: black;
    background-image: url("https://i.ibb.co/8XtMbjg/hamburguer-Logo-Opt.png");
    background-size: cover;
    border: transparent;
  }
  header .menu {
    width: 48%;
    height: 17em;
    max-width: 13em;
    min-width: 9em;
    overflow: hidden;
    margin: 0;
    border: 0.05em double dimgray;
    padding: 1em 0.2em 1em 1em;
    list-style-type: none;
    text-align: left;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 5px black, 0 0 15px black;
    background-image: url("https://i.ibb.co/Cz7rrtQ/fondomenu22.png");
    position: absolute;
    top: 6em;
    left: -14em;
    transition: left 0.3s;
  }
  header .menu .botonMenuContainer a {
    display: block;
    font-size: 1.3em;
    opacity: 1;
    color: white;
  }
  header .menu .botonMenuContainer a:hover {
    text-decoration: line-through;
  }
  header .menu ul {
    display: none;
  }
}
header .menu_visible {
  left: 1em;
}
@media (min-width: 992px) {
  header {
    margin: 0;
    padding: 0;
    border: 0;
    height: 200px;
    position: sticky;
    top: -150px;
  }
  header .topLogo {
    width: 200px;
    padding: 45px 20px;
    display: flex;
    margin: 0 auto;
  }
  header .topLogoBoton {
    display: none;
  }
  header .toggle {
    display: none;
  }
  header .menu {
    width: 60%;
    margin: 0;
    border: 0;
    list-style-type: none;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  header .menu li {
    display: block;
    color: thistle;
  }
  header .menu li:hover ul {
    display: block;
  }
  header .menu li ul {
    margin: 10px 0 0;
    padding: 30px 10px 30px;
    background-color: black;
    position: absolute;
    top: 40px;
    left: -40px;
    right: -40px;
    display: none;
    text-align: center;
    z-index: -1;
    border-radius: 1em 2em 1em 2em;
  }
  header .menu .botonMenuContainer {
    position: relative;
    margin: auto;
    height: 1.5em;
    border: 0;
    padding: 0;
  }
  header .menu .botonMenu {
    height: 100%;
    width: 100%;
    color: #b291e7;
    padding: 2rem 1.5rem;
    user-select: none;
  }
  header .menu .botonMenu:hover {
    color: whitesmoke;
    background-image: url("../images/bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: animacionBotoMenu 1.5s;
  }
  @keyframes animacionBotoMenu {
    0% {
      color: white;
    }
    20% {
      color: #b291e7;
    }
    40% {
      color: #472a77;
    }
    60% {
      color: #81c7c9;
    }
    80% {
      color: #6200ff;
    }
    100% {
      color: #f3c2fa;
    }
  }
  header .panelColeccion:hover {
    color: #f3ebff;
    text-decoration: line-through;
  }
}

/*/ /////////////////////////////////// FOOTER //////////////////////////////////////*/
footer {
  background-color: black;
  border: 0px;
  padding: 6em 3em;
}
footer .logo {
  flex: 1;
}
footer .logo img {
  display: block;
  margin: 0 auto 5em;
  width: 200px;
  max-width: 100%;
}
footer .redesSociales {
  text-align: center;
  white-space: nowrap;
}
footer .redesSociales a {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
footer .redesSociales img {
  width: 50px;
  height: 50px;
}
footer audio {
  display: block;
  margin: 2em auto;
  width: 350px;
  max-width: 100%;
}
@media (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
  }
  footer .logo {
    display: flex;
    align-items: center;
  }
  footer .logo img {
    margin-left: 0;
    margin: 0;
  }
  footer .footerContent {
    display: flex;
    align-items: center;
  }
  footer .redesSociales {
    padding: 0 2em;
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
  25% {
    text-shadow: -4px -4px 0 #6d47ce, -3px -3px 0 #6d47ce, -2px -2px 0 #6d47ce, -1px -1px 0 #6d47ce, 4px 4px 0 #8100eb, 3px 3px 0 #8100eb, 2px 2px 0 #8100eb, 1px 1px 0 #8100eb;
  }
  50% {
    text-shadow: -4px 4px 0 #8100eb, -3px 3px 0 #8100eb, -2px 2px 0 #8100eb, -1px 1px 0 #8100eb, 4px -4px 0 #6d47ce, 3px -3px 0 #6d47ce, 2px -2px 0 #6d47ce, 1px -1px 0 #6d47ce;
  }
  75% {
    text-shadow: 4px 4px 0 #6d47ce, 3px 3px 0 #6d47ce, 2px 2px 0 hs #6d47ce, 1px 1px 0 #6d47ce, -4px -4px 0 #8100eb, -3px -3px 0 #8100eb, -2px -2px 0 #8100eb, -1px -1px 0 #8100eb;
  }
  100% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
}
/*//////// MAIN CONTENT ////////*/
/*/ /////// HOME ////////*/
@media (min-width: 1200px) {
  #carouselHome .carousel-item img {
    height: 75vh;
    object-fit: cover;
    object-position: center center;
    z-index: 2;
  }
}
.fondoMarble {
  color: black;
  background-image: url("https://i.ibb.co/WPsZyw7/fondo-Marble-Opt.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Amiko", sans-serif;
  font-family: "Epilogue", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
.fondoMarble p {
  color: #d1d1d1;
  padding: 10px;
}
.fondoMarble .tituloHome {
  margin: 0;
  color: #fff;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #8100eb, 0 0 70px #8100eb, 0 0 80px #8100eb, 0 0 100px #8100eb, 0 0 140px #8100eb;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .fondoMarble .tituloHome {
    font-size: 3.9em;
    padding-bottom: 0.5em;
  }
}
.fondoMarble #fotoBanner {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

/*/ /////// GALERIA PRODUCTOS ////////*/
.galeriaProducto {
  text-align: center;
}
.galeriaProducto h2 {
  font-family: "Racing Sans One";
  font-size: 2em;
  text-shadow: 0.1em 0.1em #2b2b2b;
  word-spacing: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0.3em 0;
  animation: move linear 2000ms infinite;
}
@media (min-width: 768px) {
  .galeriaProducto h2 {
    padding: 1em 0;
    font-size: 3em;
  }
}
.galeriaProducto .productosContainer {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-top: auto;
  padding: 1.5em 1em;
  font-size: 1em;
}
.galeriaProducto .productosContainer .cajaItem {
  flex-direction: column;
  align-items: center;
  border: 0.3em inset #96863f;
  background-image: url("https://i.ibb.co/K54kdK9/marble-stone.jpg");
  text-align: center;
  display: flex;
  border-radius: 1em 1em 1em 1em;
  overflow: hidden;
}
.galeriaProducto .productosContainer .cajaItem img {
  width: 100%;
  /* width: 95%; */
}
.galeriaProducto .productosContainer .cajaItem a {
  padding: 1em 0px;
  margin: auto;
  white-space: nowrap;
}
.galeriaProducto .productosContainer .cajaItem p {
  padding: 0px 0px 1em 0px;
  margin: auto;
  color: black;
}
@media (max-width: 767px) {
  .galeriaProducto .productosContainer .cajaItem {
    margin: 0 0 2em 0;
  }
}
@media (min-width: 768px) {
  .galeriaProducto .productosContainer {
    padding: 2em 1em;
  }
}
@media (min-width: 1200px) {
  .galeriaProducto .productosContainer {
    padding: 3em 4em;
  }
}
@media (min-width: 768px) {
  .galeriaProducto .productosContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 2.5em;
    column-gap: 2em;
  }
  .galeriaProducto .productosContainerGrid .textoHome {
    padding: 3em 4em;
  }
}
@media (min-width: 1200px) {
  .galeriaProducto .productosContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2.5em;
    column-gap: 2em;
  }
  .galeriaProducto .productosContainerGrid .cajaItem {
    transition: all 1.5s ease;
  }
  .galeriaProducto .productosContainerGrid .cajaItem a {
    font-size: 1.2em;
    padding: 0.3em 0;
  }
  .galeriaProducto .productosContainerGrid .cajaItem a:hover {
    color: #6800a5;
    animation: precio 3s;
  }
  .galeriaProducto .productosContainerGrid .cajaItem:hover {
    border: 0.3em outset #837432;
    transform: rotate(1turn) scale(1.1);
    box-shadow: 0.1em 0.2em 0.2em 0.2em black;
    animation: vibrate-1 0.3s linear infinite both;
  }
  .galeriaProducto .productosContainerGrid .cajaItem:active {
    transform: scale(1.8);
    z-index: 2;
  }
  @keyframes precio {
    0% {
      color: red;
    }
    15% {
      color: #ff7b00;
    }
    30% {
      color: #e5ff00;
    }
    45% {
      color: #1caa00;
    }
    60% {
      color: #0800ff;
    }
    75% {
      color: #8167ac;
    }
    90% {
      color: #6800a5;
    }
  }
}

/*/ /////// GALERIA PRODUCTOS 2 ////////*/
#proximamente {
  display: block;
  width: 100%;
}

/*/ /////////////////////////////  COLECCIONES ////////////////////////////////////*/
.scrollColecciones {
  margin: 0;
  padding: 0;
  list-style-type: none;
  pointer-events: all;
}
.scrollColecciones .cajaColeccion {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-bottom: 4px double black;
  text-align: center;
  pointer-events: all;
  background-position: center;
  background-size: cover;
}
.scrollColecciones .cajaColeccion a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #7c7c7c;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2) 100%);
}
.scrollColecciones .cajaColeccion a:hover {
  color: #ebebeb;
  text-shadow: 4px 4px 15px black;
}
@media (min-width: 576px) {
  .scrollColecciones .cajaColeccion {
    width: 50%;
    height: 200px;
  }
}
@media (min-width: 768px) {
  .scrollColecciones .cajaColeccion {
    width: 33.333%;
    height: 400px;
    border-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .scrollColecciones .cajaColeccion {
    width: 16.666%;
    height: 600px;
  }
}
.scrollColecciones .coleccion1 {
  background-image: url("https://i.ibb.co/DRcgXyY/coleccion2013.jpg");
  background-position: center;
  background-size: cover;
}
.scrollColecciones .coleccion2 {
  background-image: url("https://i.ibb.co/Jc2zYkQ/coleccion2014.jpg");
  background-position: center;
  background-size: cover;
}
.scrollColecciones .coleccion3 {
  background-image: url("https://i.ibb.co/WfHspN2/coleccion2015.jpg");
  background-position: center;
  background-size: cover;
}
.scrollColecciones .coleccion4 {
  background-image: url("https://i.ibb.co/N9rDwkH/coleccion2017.jpg");
  background-position: center;
  background-size: cover;
}
.scrollColecciones .coleccion5 {
  background-image: url("https://i.ibb.co/HXZS2B4/coleccion2019.jpg");
  background-position: center;
  background-size: cover;
}
.scrollColecciones .coleccion6 {
  background-image: url("https://i.ibb.co/HNC6Ff5/coleccion2020.jpg");
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  .scrollColecciones {
    display: flex;
    flex-wrap: wrap;
  }
}

/*/ /////////////////////////////  COLECCION  INDIVIDUAL ////////////////////////////////////*/
.tituloColeccion {
  text-align: center;
  padding: 0 0 1em 0;
}
@media (min-width: 768px) {
  .tituloColeccion {
    font-size: 3em;
    padding: 0 0 0.9em 0;
  }
}
@media (min-width: 1200px) {
  .tituloColeccion {
    font-size: 6em;
    padding: 0 0 0.9em 0;
  }
}

.scrollFotosColecciones {
  margin: auto;
  width: 92%;
  padding-bottom: 2em;
}
.scrollFotosColecciones img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 1.5em;
  border: 0.1em groove black;
}
@media (min-width: 768px) {
  .scrollFotosColecciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1em;
    column-gap: 1em;
  }
  .scrollFotosColecciones .scrollFotosColeccionesHijo img {
    display: block;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .scrollFotosColecciones {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.3em;
    column-gap: 1.3em;
  }
}

#coleccion-2013 .tituloColeccion {
  margin: 0;
  color: #fff;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fa5be5, 0 0 70px #fa5be5, 0 0 80px #fa5be5, 0 0 100px #fa5be5, 0 0 140px #fa5be5;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  #coleccion-2013 .tituloColeccion {
    font-size: 2.6em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 768px) {
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(1) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(8) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(11) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(12) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(15) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(17) {
    grid-row-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(19) {
    grid-column-start: span 2;
  }
}
@media (min-width: 1200px) {
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(1) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(6) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(8) {
    grid-column-start: span 3;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(12) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(15) {
    grid-column-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(17) {
    grid-row-start: span 2;
  }
  #coleccion-2013 .scrollFotosColeccionesHijo:nth-child(19) {
    grid-column-start: span 2;
  }
}

/* ////////////////   COLECCION 2014   ///////////*/
#coleccion-2014 .tituloColeccion {
  margin: 0;
  color: #fff;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #005b08, 0 0 70px #005b08, 0 0 80px #005b08, 0 0 100px #005b08, 0 0 140px #005b08;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  #coleccion-2014 .tituloColeccion {
    font-size: 2.6em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {
  #coleccion-2014 .scrollFotosColeccionesHijo:nth-child(1) {
    grid-row-start: span 2;
  }
  #coleccion-2014 .scrollFotosColeccionesHijo:nth-child(10) {
    grid-row-start: span 2;
  }
  #coleccion-2014 .scrollFotosColeccionesHijo:nth-child(14) {
    grid-row-start: span 3;
  }
  #coleccion-2014 .scrollFotosColeccionesHijo:nth-child(15) {
    grid-row-start: span 2;
  }
}

#coleccion-2015 .tituloColeccion {
  margin: 0;
  color: #fff;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #0800ff, 0 0 70px #0800ff, 0 0 80px #0800ff, 0 0 100px #0800ff, 0 0 140px #0800ff;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  #coleccion-2015 .tituloColeccion {
    font-size: 2.6em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(1) {
    grid-column-start: span 2;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(12) {
    grid-column-start: span 2;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(13) {
    grid-column-start: span 2;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(15) {
    grid-row-start: span 2;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(21) {
    grid-column-start: span 3;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(24) {
    grid-row-start: span 2;
  }
  #coleccion-2015 .scrollFotosColeccionesHijo:nth-child(26) {
    grid-row-start: span 2;
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
  25% {
    text-shadow: -4px -4px 0 #6d47ce, -3px -3px 0 #6d47ce, -2px -2px 0 #6d47ce, -1px -1px 0 #6d47ce, 4px 4px 0 #8100eb, 3px 3px 0 #8100eb, 2px 2px 0 #8100eb, 1px 1px 0 #8100eb;
  }
  50% {
    text-shadow: -4px 4px 0 #8100eb, -3px 3px 0 #8100eb, -2px 2px 0 #8100eb, -1px 1px 0 #8100eb, 4px -4px 0 #6d47ce, 3px -3px 0 #6d47ce, 2px -2px 0 #6d47ce, 1px -1px 0 #6d47ce;
  }
  75% {
    text-shadow: 4px 4px 0 #6d47ce, 3px 3px 0 #6d47ce, 2px 2px 0 hs #6d47ce, 1px 1px 0 #6d47ce, -4px -4px 0 #8100eb, -3px -3px 0 #8100eb, -2px -2px 0 #8100eb, -1px -1px 0 #8100eb;
  }
  100% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
}
.videoplay {
  border: 0.1em solid grey;
  border-radius: 1.5em 4em 1.5em 4em;
}
@media (min-width: 768px) {
  .videoplay {
    width: 720px;
    height: 480px;
  }
}

.Play {
  text-align: center;
}
.Play h1 {
  margin: 0;
  color: #fff;
  font-size: 2.8em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #00e5ff, 0 0 70px #00e5ff, 0 0 80px #00e5ff, 0 0 100px #00e5ff, 0 0 140px #00e5ff;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  .Play h1 {
    font-size: 3.64em;
    padding-bottom: 0.5em;
  }
}

.h2Blanco {
  color: aliceblue;
  font-size: 1.8em;
}

.history h1 {
  padding: 0.7em 0 0.7em 0;
}
.history h1:nth-of-type(1) {
  text-align: right;
  margin: 0;
  color: #fff;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fa5be5, 0 0 70px #fa5be5, 0 0 80px #fa5be5, 0 0 100px #fa5be5, 0 0 140px #fa5be5;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .history h1:nth-of-type(1) {
    font-size: 3.9em;
    padding-bottom: 0.5em;
  }
}
.history h1:nth-of-type(2) {
  text-align: left;
  margin: 0;
  color: #fff;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #0800ff, 0 0 70px #0800ff, 0 0 80px #0800ff, 0 0 100px #0800ff, 0 0 140px #0800ff;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .history h1:nth-of-type(2) {
    font-size: 3.9em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {
  .history h1 {
    padding: 0.7em 1em 0.7em 1em;
  }
}

.galeriaHistoria {
  margin: 3em -3em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 2em;
  column-gap: 2em;
}
.galeriaHistoria .galeriaHistoriaItem {
  transition: all 1s;
}
.galeriaHistoria .galeriaHistoriaItem img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.galeriaHistoria .galeriaHistoriaItem:hover {
  transform: scale(1.5);
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .galeriaHistoria {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .galeriaHistoria {
    grid-template-columns: repeat(6, 1fr);
  }
}

.videoMica {
  width: 90%;
  height: auto;
  margin: 6em auto 3em;
  padding: 0;
  border: 0.4em double #3f3f3f;
  border-radius: 1.5em 4em 1.5em 4em;
  display: block;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .videoMica {
    width: 720px;
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .videoMica {
    width: 1080px;
    height: 720px;
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
  25% {
    text-shadow: -4px -4px 0 #6d47ce, -3px -3px 0 #6d47ce, -2px -2px 0 #6d47ce, -1px -1px 0 #6d47ce, 4px 4px 0 #8100eb, 3px 3px 0 #8100eb, 2px 2px 0 #8100eb, 1px 1px 0 #8100eb;
  }
  50% {
    text-shadow: -4px 4px 0 #8100eb, -3px 3px 0 #8100eb, -2px 2px 0 #8100eb, -1px 1px 0 #8100eb, 4px -4px 0 #6d47ce, 3px -3px 0 #6d47ce, 2px -2px 0 #6d47ce, 1px -1px 0 #6d47ce;
  }
  75% {
    text-shadow: 4px 4px 0 #6d47ce, 3px 3px 0 #6d47ce, 2px 2px 0 hs #6d47ce, 1px 1px 0 #6d47ce, -4px -4px 0 #8100eb, -3px -3px 0 #8100eb, -2px -2px 0 #8100eb, -1px -1px 0 #8100eb;
  }
  100% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
}
.formulario {
  padding: 0 0 2.5em 0;
  color: white;
}
.formulario p {
  margin: 0;
  text-align: center;
}
.formulario h1 {
  padding-bottom: 0 !important;
  margin: 0;
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 2.8em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #8100eb, 0 0 70px #8100eb, 0 0 80px #8100eb, 0 0 100px #8100eb, 0 0 140px #8100eb;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .formulario h1 {
    font-size: 3.64em;
    padding-bottom: 0.5em;
  }
}
.formulario .btn {
  width: 100%;
  background-color: transparent;
  border-radius: 1em 3em 1em 3em;
  border: 0.25em double #6d47ce;
}
.formulario .containerForm {
  width: 95%;
  margin: 1em auto 2.5em;
  padding: 2em 1em;
  border-radius: 1em 3em 1em 3em;
  border: 0.25em double #8100eb;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 25px #6d47ce, 0 0 60px #6d47ce, 0 0 70px #6d47ce, 0 0 90px #6d47ce, 0 0 130px #6d47ce;
}
@media (min-width: 768px) {
  .formulario .containerForm {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .formulario .containerForm {
    width: 50%;
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
  25% {
    text-shadow: -4px -4px 0 #6d47ce, -3px -3px 0 #6d47ce, -2px -2px 0 #6d47ce, -1px -1px 0 #6d47ce, 4px 4px 0 #8100eb, 3px 3px 0 #8100eb, 2px 2px 0 #8100eb, 1px 1px 0 #8100eb;
  }
  50% {
    text-shadow: -4px 4px 0 #8100eb, -3px 3px 0 #8100eb, -2px 2px 0 #8100eb, -1px 1px 0 #8100eb, 4px -4px 0 #6d47ce, 3px -3px 0 #6d47ce, 2px -2px 0 #6d47ce, 1px -1px 0 #6d47ce;
  }
  75% {
    text-shadow: 4px 4px 0 #6d47ce, 3px 3px 0 #6d47ce, 2px 2px 0 hs #6d47ce, 1px 1px 0 #6d47ce, -4px -4px 0 #8100eb, -3px -3px 0 #8100eb, -2px -2px 0 #8100eb, -1px -1px 0 #8100eb;
  }
  100% {
    text-shadow: 4px -4px 0 #8100eb, 3px -3px 0 #8100eb, 2px -2px 0 #8100eb, 1px -1px 0 #8100eb, -4px 4px 0 #6d47ce, -3px 3px 0 #6d47ce, -2px 2px 0 #6d47ce, -1px 1px 0 #6d47ce;
  }
}
/*////////// GENERAL //////////////////*/
html {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html body h1 {
  margin: 0 0 1em;
  padding: 0;
}
html body h2 {
  padding: 0;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 1em;
}
html body h3 {
  margin: 0;
  padding: 0;
}
html body p {
  margin: 0 0 1em;
  padding: 0;
}
html body ul {
  margin: 0;
  padding: 0;
}
html body li {
  margin: 0;
  padding: 0;
}
html body a {
  text-decoration: none;
  color: #b291e7;
}
html body a:hover {
  color: grey;
}

/*# sourceMappingURL=styleHome.css.map */
